@{
    Layout = "_LayuiLayout";
}
@model LoginModel
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        .layui-form-label {
            width: 110px;
        }
    </style>
</head>
<body>
    <br />
    <form class="layui-form" lay-filter="EditForm" action="/Login/UpdatePassWord" method="post">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><font color="red">*</font>@Html.LabelFor(m => m.OldPassWord)</label>
                <div class="layui-input-inline">
                    @Html.PasswordFor(m => m.OldPassWord, new Dictionary<string, object>() { { "id", "OldPassWord" }, { "class", "layui-input" }, { "lay-verify", "required" }, { "value", Model.OldPassWord } })
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><font color="red">*</font>@Html.LabelFor(m => m.PassWord)</label>
                <div class="layui-input-inline">
                    @Html.PasswordFor(m => m.PassWord, new Dictionary<string, object>() { { "id", "PassWord" }, { "class", "layui-input" }, { "lay-verify", "required" }, { "value", Model.PassWord } })
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><font color="red">*</font>@Html.LabelFor(m => m.VerifyPassword)</label>
                <div class="layui-input-inline">
                    @Html.PasswordFor(m => m.VerifyPassword, new Dictionary<string, object>() { { "id", "VerifyPassword" }, { "class", "layui-input" }, { "lay-verify", "required" }, { "value", Model.VerifyPassword } })
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left:30px;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="btnSave">Save</button>
            </div>
        </div>
    </form>
</body>

<script>
    var table;
    var form;
    layui.use(['form', 'element', 'layer', 'table'], function () {
        form = layui.form;
        table = layui.table;

        //保存消息
        $(function () {
            var success = '@Model.SuccessCode';
            if (success.toUpperCase() == 200)
            {
                $.mylayer.resultSuccess('success');
                setTimeout(function ()
                {
                    // 调用父窗口调整，而非当前窗口
                    parent.window.location.href = "/Login/LogOut";
                }, 1500);;
            }
            else if (success.toUpperCase() == 500)
            {
                $.mylayer.resultFail('@(Model.Msg)');
            }
        });
    })
</script>